{% extends '_base.html' %}
{% load static %}

{% block page_title %}Tasks{% endblock page_title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock links %}

{% block content %}
    {% if items %}
        {% for item in items %}
            <table class="table table-bordered">
                {% if item.completed %}
                    <tr class="table-secondary">
                        <td>{{ item }}</td>
                        <td><center>{{ item.completed }}</center></td>
                        <td><center>Delete</center></td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ item }}</td>
                        <td><center>{{ item.completed }}</center></td>
                        <td><center>Delete</center></td>
                    </tr>
                {% endif %}
            </table>
        {% endfor %}

    {% endif %}


{% endblock content %}