{% extends '_base.html' %}

{% block title %}ToDo List{% endblock %}

{% block content %}

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-warning alert-dismissable" role="alert">
			<button class="close" data-dismiss="alert">
	            <small><sup>x</sup></small>
	        </button>
			{{ message }}
		</div>
	{% endfor%}

{% endif %}

	{% if items %}
	<table class="table table-bordered">
		{% for item in items %}
			{% if item.completed %}
				<tr class="table-secondary">
					<td class="striker">{{ item.item }}</td>
					<td><center>Uncross</center></td>
					<td><center>Delete</center></td>
				</tr>
			{% else %}
				<tr>
					<td>{{ item.item }}</td>
					<td><center>Cross Off</center></td>
					<td><center>Delete</center></td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	{% endif %}

{% endblock %}